<div class="container">
  <h1 class="text-center naslov">Kategorije usluga</h1>
  <p class="text-center">Istaknite svoju ljepotu u raznolikosti naših salona! Od lica do noktiju, tijela i kose, naši stručnjaci pružaju vrhunske usluge. Osjetite samopouzdanje na novoj razini - rezervirajte svoj tretman danas!</p>
  <div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col" *ngFor="let kategorija of kategorije$ | async">
      <div class="card text-bg-dark" style="height: 120px;">
        <img [src]="kategorija.slika" class="card-img" alt="{{ kategorija.naziv }}" style="height: 100%; width: auto; object-fit: cover;">
        <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
          <h5 class="card-title">{{ kategorija.naziv }}</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-4">
  <h1 class="text-center naslov">Najbolje ocijenjeni (dodati filter)</h1>
  <div class="row">
    <div *ngFor="let salon of saloni$ | async" class="col-md-3 mb-4">
      <div class="card h-100 d-flex flex-column">
        <div class="card-body flex-grow-1">
          <h5 class="card-title">{{salon.naziv}}</h5>
          <p class="card-text"><strong>Adresa:</strong> {{salon.adresa}}</p>
          <p class="card-text">{{salon.opis}}</p>
        </div>
        <div class="card-footer mt-auto">
          <a href="#" class="btn btn-primary w-100" [routerLink]="['/saloni',salon.id]">Pregledaj</a>
        </div>
      </div>
    </div>
  </div>
</div>



