<header class="header">
  <div class="search-bar">
    <h1>Otkrij najbolje salone i usluge u blizini</h1>
    <form class="form-inline" style="display: flex" (ngSubmit)="onClickPretrazi()">

      <input [(ngModel)]="nazivSalona" name="naziv" class="form-control mr-2" type="search" placeholder="Traži salon..." aria-label="Search">

      <select [(ngModel)]="selectedGradId" name="GradId" class="form-control mr-2" aria-label="Select GradId">
        <option [ngValue]="null" disabled selected>Izaberi grad</option>
        <option style="color: dimgray" *ngFor="let grad of gradovi" [value]="grad.id">{{ grad.naziv }}</option>
      </select>

      <select [(ngModel)]="selectedKategorijaId" name="KategorijaId" class="form-control mr-2" aria-label="Select KategorijaId">
        <option [ngValue]="null" disabled selected>Izaberi kategoriju</option>
        <option style="color: dimgray" *ngFor="let kategorija of kategorije$ | async" [value]="kategorija.id">{{ kategorija.naziv }}</option>
      </select>



      <button class="btn btn-primary" type="submit">Pretraži</button>
    </form>
  </div>
</header>



<div class="container">
  <h2 class="naslov mt-5 mb-3">Najbolje ocijenjeni saloni ljepote</h2>
  <div class="row">
    <div *ngFor="let salon of saloni$ | async" class="col-md-3 mb-4">
      <div class="card h-100 d-flex flex-column">

        <img [src]="salon.naslovnaFotografija" class="card-img-top" alt="{{ salon.naziv }}" style="height: 200px; object-fit: cover;">

        <div class="card-body flex-grow-1">

          <h5 class="card-title">{{salon.naziv}}</h5>
          <p style="font-weight: bold; color: #DBAEAB">{{salon.nazivGrada}}<span style="font-weight: normal" class="card-text;">, {{salon.adresa}}</span></p>


          <p class="card-text">{{salon.opis}}</p>
        </div>
        <div class="card-footer mt-auto">
          <a href="#" class="btn btn-primary w-100" [routerLink]="['/saloni',salon.id]">Pregledaj</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">

  <h2 class="naslov mt-5 mb-3">Kategorije salona</h2>

  <div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col" *ngFor="let kategorija of kategorije$ | async">
      <div (click)="onClickKategorija(kategorija.id)" class="card card-kategorije text-bg-dark" style="height: 120px;">
        <img [src]="kategorija.slika" class="card-img" alt="{{ kategorija.naziv }}" style="height: 100%; width: auto; object-fit: cover;">
        <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
          <h5 class="card-title">{{ kategorija.naziv }}</h5>
        </div>
      </div>
    </div>
  </div>

</div>


<div style="margin-bottom: 200px"></div>
