<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow border-0 rounded-3">
        <div class="card-body" *ngIf="userProfile;">
          <div class="profile-header d-flex align-items-center">
            <div class="profile-image">
              <img *ngIf="userProfile.profilePictureBase64; else placeholder" [src]="userProfile.profilePictureBase64" alt="Profilna slika" class="img-fluid rounded-circle border-5 border-custom">
              <ng-template #placeholder>
                <img src="https://via.placeholder.com/150" alt="Profilna slika" class="img-fluid rounded-circle border-5 border-custom">
              </ng-template>
            </div>
            <div class="profile-details ms-4">
              <h3 class="mb-0">{{ userProfile.firstName }} {{ userProfile.lastName }}</h3>
              <p class="text-muted">{{ userProfile.userName }} <span style="color:#DBAEAB">({{ roles.join(', ') }})</span></p>
            </div>
          </div>

          <div class="profile-info mt-4">
            <h4 class="text-custom">Informacije o korisniku</h4>
            <form #editForm="ngForm">
              <div class="mb-3">
                <label for="firstName" class="form-label"><strong>Ime:</strong></label>
                <input type="text" id="firstName" class="form-control" [(ngModel)]="userProfile.firstName" name="firstName" [disabled]="!isEditing">
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label"><strong>Prezime:</strong></label>
                <input type="text" id="lastName" class="form-control" [(ngModel)]="userProfile.lastName" name="lastName" [disabled]="!isEditing">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label"><strong>Email:</strong></label>
                <input type="email" id="email" class="form-control" [(ngModel)]="userProfile.email" name="email" [disabled]="!isEditing">
              </div>

              <div class="mb-3">
                <label for="profilePicture" class="form-label"><strong>Promijeni profilnu sliku:</strong></label>
                <input type="file" id="profilePicture" (change)="onFileChange($event)" class="form-control" [disabled]="!isEditing">
              </div>

            </form>
          </div>

          <div class="profile-actions mt-5">
            <button *ngIf="!isEditing" class="btn btn-custom btn-lg w-100" (click)="toggleEdit()">Uredi Profil</button>
            <div *ngIf="isEditing" class="d-flex gap-3">
              <button class="btn btn-success w-100" (click)="saveChanges()">Spremi</button>
              <button class="btn btn-danger w-100" (click)="cancelEdit()">Otkaži</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
