.profile-header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.profile-image img {
  max-width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
  flex-grow: 1;
}

.profile-details h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.profile-details p {
  font-size: 1rem;
  color: #666;
}

.profile-info h4 {
  font-size: 1.3rem;
  color: #dbaeab;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.profile-info p {
  font-size: 1.1rem;
  color: #444;
}

.profile-actions {
  margin-top: 40px;
}

.alert {
  margin-top: 20px;
}

.profile-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-success{
  background-color: #dbaeab;
  color:white;
  border:none;
}

.btn-success:hover{
  background-color: #e5bcba;
}

.btn-danger{
  background-color: #555;
  color:white;
  border:none;
}

.btn-danger:hover{
  background-color: #424242;
}
