<nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark" style="background-color: #DBAEAB;" >
  <div class="container-fluid container">
    <a class="navbar-brand" style=" font-size: x-large" href="/">BeautyNest</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <ng-container *ngIf="user!==undefined && user?.roles?.includes('Klijent')">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Rezervacije</a>
          <a>{{ user.roles }}</a>
        </li>
        </ng-container>


      </ul>

      <div class="d-flex">
       <ng-container *ngIf="user===undefined; else showLogout">
         <a [routerLink]="['/login']" class="btn btn-primary me-3">Prijavi se</a>
         <a [routerLink]="['/registracija']" class="btn btn-primary">Registriraj se</a>
       </ng-container>
        <ng-template #showLogout>
            <div class="d-flex align-items-center">
              <span style="font-size: large; font-weight: bold; color: white">{{user?.username}}</span>
              <button class="btn btn-primary ms-3" (click)="onLogout()">Logout</button>
            </div>
        </ng-template>
      </div>

    </div>
  </div>
</nav>
