.navbar {
  height: 80px;
}
.btn-primary {
  background-color: rgb(203, 153, 149) !important;
  border: none !important;
  font-size: large !important;
}

.btn-primary:hover {
  background-color: #DBAEAB !important;
}

.btn-primary:active {
  background-color: rgb(203, 153, 149);
  outline: none;
  box-shadow: none;
}

.navbar-brand:hover {
  font-size: 25px !important;
  color: rgba(255, 255, 255, 0.88) !important;
  transition: font-size 0.3s ease !important;
}
