.filter-bar {
  top: 80px;
  z-index: 1020;
}

select option:disabled {
  display: none;
}

.btn-primary {
  background-color: rgb(203, 153, 149);
  border: none;
  width: 30%;
  font-size: large;
}

.btn-primary:hover {
  background-color: #DBAEAB;
}


.pregledaj {

  width: 90%;
}

.pregledaj:hover {
  background-color: #DBAEAB;
}

.fa {
  width: 10%;
}

.fa {
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 22px;
}

.fa:hover {
  transform: scale(1.3);
  color: #DBAEAB !important;
}
