<div class="filter-bar fixed-top bg-white shadow-sm py-2">
  <div class="container">
    <form class="row gx-2 gy-2 align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Pretraži salon ili uslugu" id="searchService">
      </div>
      <div class="col-auto">
        <select class="form-select" id="searchCity">
          <option value="">Odaberite grad</option>
          <option value="Grad1">Grad 1</option>
          <option value="Grad2">Grad 2</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Pretraži</button>
      </div>
    </form>
  </div>
</div>


<div class="container">
  <h2 class="naslov mt-5 mb-3">Najbolje ocijenjeni saloni ljepote</h2>
  <div class="row">
    <div *ngFor="let salon of saloni" class="col-md-3 mb-4">
      <div class="card h-100 d-flex flex-column">

        <img [src]="salon.naslovnaFotografija" class="card-img-top" alt="{{ salon.naziv }}" style="height: 200px; object-fit: cover;">

        <div class="card-body flex-grow-1">

          <h5 class="card-title">{{salon.naziv}}</h5>
          <p class="card-text"><strong>Adresa:</strong> {{salon.adresa}}</p>
          <p class="card-text">{{salon.opis}}</p>
        </div>

        <div *ngFor="let kategorija of salon.kategorijeUsluga">
          <strong>{{ kategorija.naziv }}</strong>

          <!-- Prikaz usluga koje pripadaju ovoj kategoriji -->
          <ul>
            <li *ngFor="let usluga of kategorija.usluge" style="display: flex">
              <p>{{ usluga.naziv }}</p>
             <span style="font-weight: bold"> {{usluga.cijena}}</span>
            </li>
          </ul>
        </div>

        <div class="card-footer mt-auto">
          <a href="#" class="btn btn-primary w-100" [routerLink]="['/saloni',salon.id]">Pregledaj</a>
        </div>
      </div>
    </div>
  </div>
</div>
