<div class="filter-bar fixed-top bg-white shadow-sm py-2 ">
  <div class="container">
    <form class="row gx-2 gy-2 align-items-center">

      <div class="col-auto">
        <input [(ngModel)]="nazivSalona" name="naziv" (change)="setFilterParams()"  type="text" class="form-control" placeholder="Pretraži salon ili uslugu" id="searchService">
      </div>

      <div class="col-auto">
        <select [(ngModel)]="selectedGradId" (change)="setFilterParams()" name="gradId" class="form-control">
          <option [ngValue]="null" disabled selected>Odaberi grad</option>
          <option *ngFor="let grad of gradovi" [value]="grad.id">{{ grad.naziv }}</option>
        </select>
      </div>

      <div class="col-auto">
        <select [(ngModel)]="selectedKategorijaId" (change)="setFilterParams()" name="kategorijaId" class="form-control">
          <option [ngValue]="null" disabled selected>Odaberi kategoriju</option>
          <option *ngFor="let kategorija of kategorije" [value]="kategorija.id">{{ kategorija.naziv }}</option>
        </select>
      </div>


      <button type="button" class="col-auto btn btn-outline-secondary" (click)="onResetFilters()" aria-label="Reset Filters">
        &#10006;
      </button>

    </form>
  </div>
</div>


<div class="container" style="margin-top: 80px">
  <h2 class="naslov mt-5 mb-3">Rezultati pretrage</h2>
  <div class="row">
    <div *ngFor="let salon of saloni" class="col-md-3 mb-4">
      <div class="card h-100 d-flex flex-column">

        <img [src]="salon.naslovnaFotografija" class="card-img-top" alt="{{ salon.naziv }}" style="height: 200px; object-fit: cover;">

        <div class="card-body flex-grow-1">

          <h5 class="card-title">{{salon.naziv}}</h5>
          <p style="font-weight: bold; color: #DBAEAB">{{salon.nazivGrada}}<span style="font-weight: normal" class="card-text;">, {{salon.adresa}}</span></p>


          <p class="card-text">{{salon.opis}}</p>
        </div>
        <div class="card-footer mt-auto">
          <a href="#" class="btn btn-primary w-100" [routerLink]="['/saloni',salon.id]">Pregledaj</a>
        </div>
      </div>
    </div>
  </div>
</div>
